<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="settingsForm">

        <!-- Section -->
        <div class="w-full">         
            
            <span>
                <span class="text-secondary">Select the product you are configuring</span>
                <span>
                    <button class="ml-4" mat-flat-button [color]="'primary'" (click) = "ShowSettingsForm('VISA_GOG_PREPAID')" >               
                        <span class="ml-2 mr-1">VISA_GOG_PREPAID</span>
                    </button>
                    <button class="ml-4" mat-flat-button [color]="'warn'" (click) = "ShowSettingsForm('MASTERCARD_PREPAID ')" >                
                        <span class="ml-2 mr-1">MASTERCARD_PREPAID</span>
                    </button>
                </span>
                
            </span>
            
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8" *ngIf ='showForm'> 
            <span class="sm:col-span-4">
                <mat-label>Product Name</mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input #productName type="text" class="form-control" placeholder="productName..."
                        [formControlName]="'productName'" matInput [readonly]="true">
                </mat-form-field>
            </span>           
            <span class="sm:col-span-4">
                <mat-label>Funding Reversal Indicator</mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="text" class="form-control" placeholder="Funding Reversal Indicator..."
                        [formControlName]="'fundingReversalIndicator'" matInput [required]>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Defunding Reversal Indicator</mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="TEXT" class="form-control" placeholder="Defunding Reversal Indicator..."
                        [formControlName]="'defundingReversalIndicator'" matInput [required]>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Reference</mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input class="form-control" placeholder="Reference..." [formControlName]="'reference'"
                        matInput>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Card Billing Currency</mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="text" class="form-control" placeholder="Card Billing Currency..."
                        [formControlName]="'cardBillingCurrency'" matInput>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Reason Code</mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="text" class="form-control" placeholder="Reason Code..."
                        [formControlName]="'reasonCode'" matInput>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Debit Detail Record Record Type
                </mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="text" class="form-control" placeholder="Card funding debit account number..."
                        [formControlName]="'debitDetailRecordRecordType'" matInput>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Trailer RecordType
                </mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="text" class="form-control" placeholder="Trailer RecordType..."
                        [formControlName]="'trailerRecordRecordType'" matInput>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Payment Indicator
                </mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="text" class="form-control" placeholder="Payment Indicator..."
                        [formControlName]="'paymentIndicator'" matInput>
                </mat-form-field>
            </span>
            <span class="sm:col-span-4">
                <mat-label>Filename
                </mat-label>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <input type="text" class="form-control" placeholder="Card defunding debit account number..."
                        [formControlName]="'fileName'" matInput>
                </mat-form-field>
            </span>  

        </div>       

        <!-- Section -->


        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button *ngIf ='showCreate' (click)="onSave()" class="ml-4" mat-flat-button type="button" [color]="'primary'">Create
            </button>
            <button *ngIf ='showSave' (click)="onSave()" class="ml-4" mat-flat-button type="button" [color]="'primary'">Save
            </button>
        </div>
    </form>

</div>