<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img class="w-20" src="assets/images/logo/logo_veneka.jpg" alt="Logo image">
            <h1>Indigo Admin</h1>
            <p>
                Banking becomes personalised, easy, simple and instant; allowing the bank to deliver the right service
                at the right time
                and from everywhere to all your customers.

            </p>
            <p>A self-service banking platform that creates increased reach
                and financial inclusion. It facilitates online shopping
                from online shopping stores/merchants
            </p>
            <p>
                Veneka’s online banking solution gives bank customers access to a rich transaction set and payment
                services via internet
                and mobile channels. We’ve developed Luminus Portal, a cutting-edge payment software solution for online
                banking.
            </p>
        </div>
        <div>
            <a class="mt-8" mat-flat-button [color]="'primary'" [routerLink]="'/dashboard'">
                <span>Launch the App</span>
                <mat-icon class="ml-2 icon-size-5" [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
