<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <!-- <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div> -->
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Fund Request Details</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                    [placeholder]="'Search card requests'">
            </mat-form-field>
              <!-- Approve button -->
              <button *ngIf='showApprove' class="ml-4 bg-green-200" mat-flat-button (click)="onApprove()">
                <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2 mr-1">Approve</span>
            </button>
            <!-- Resubmit button -->
            <button *ngIf="showResubmit" class="ml-4 bg-green-200" mat-flat-button (click)="onResubmit()">
                <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2 mr-1">Resubmit</span>
            </button>
            <!-- Download button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" [matMenuTriggerFor]="currentStatementMenu">
                <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                <span class="ml-2 mr-1">DownLoad</span>
            </button>
            <mat-menu #currentStatementMenu="matMenu">
                <button mat-menu-item (click)="exportToCsv(undefined)">
                    <span class="flex items-center">

                        <span>All</span>
                    </span>
                </button>
                <mat-divider class="my-2"></mat-divider>
                <button mat-menu-item (click)="exportToCsv('ChargeSuccess')">
                    <span class="flex items-center">
                        <span>Success</span>
                    </span>
                </button>

                <mat-divider class="my-2"></mat-divider>
                <button mat-menu-item (click)="exportToCsv('Error')">
                    <span class="flex items-center">
                        <span>Failure</span>
                    </span>
                </button>
                <mat-divider class="my-2"></mat-divider>

            </mat-menu>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <mat-tab-group class="mt-4">
                    <mat-tab label="Success" class="border-indigo-100">
                        <mat-card id='cover-card' class='bg-indigo-200'>
                            <div class="grid grid-cols-12 gap-1">
                                <div class="col-start-1 col-end-3">Request Code</div>
                                <div class="col-start-4 col-end-5">Status</div>
                                <div class="col-start-6 col-end-7">Amount</div>
                                <div class="col-start-8 col-end-9">Account No.#</div>
                                <div class="col-start-10 col-end-11"> Credit Status</div>
                                <div class="col-start-12">Debit Status</div>
                            </div>
                        </mat-card>

                        <mat-card id='cover-card' *ngFor='let request of successPageSlice' class="my-2">
                            <div class="grid grid-cols-12 gap-1 ">
                                <div class="col-start-1 col-end-3">

                                    <div class="flex flex-row ...">

                                        <div class="approvedCircle"> </div> {{request.requestCode}}

                                    </div>

                                </div>
                                <div class="col-start-4 col-end-5">
                                    <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': request.status === 'Error',
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': request.status === 'ChargeSuccess',
                                                'bg-blue-400 text-blue-800 dark:bg-blue-400 dark:text-blue-50':file.status === 'Received'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{request.status}}</span>
                                    </span>
                                </div>
                                <div class="col-start-6 col-end-7"> {{request.amount}}</div>
                                <div class="col-start-8 col-end-9"> {{ request.accountNumber}}</div>
                                <div class="col-start-10 col-end-11">
                                    <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': request.creditStatus === 'Error',
                                            'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': request.creditStatus === 'Success',
                                            'bg-blue-400 text-blue-800 dark:bg-blue-400 dark:text-blue-50':request.creditStatus === 'NotCharged' }">
                                        <span class="leading-relaxed whitespace-nowrap">{{request.creditStatus}}</span>
                                    </span>

                                </div>
                                <div class="col-start-12">
                                    <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': request.debitStatus === 'Error',
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': request.debitStatus === 'Success',
                                                'bg-blue-400 text-blue-800 dark:bg-blue-400 dark:text-blue-50':request.debitStatus === 'NotCharged'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{request.debitStatus}}</span>
                                    </span>

                                </div>
                            </div>

                        </mat-card>


                        <mat-card class="loading-data my-2" id='cover-card' *ngIf="successfulFundRequests == undefined">
                            Loading data... 
                        </mat-card>
                        <mat-card class="loading-data my-2" id='cover-card'
                            *ngIf="successfulFundRequests != undefined && successfulFundRequests.length == 0">
                            No successful or received fund requests...
                        </mat-card>
                        <mat-paginator *ngIf="successfulFundRequests.length > 0" [length]="successfulFundRequests.length" [pageSize]="5"
                            [pageSizeOptions]="[5,10,25,100]" (page)="OnPageChange($event)">
                        </mat-paginator>

                    </mat-tab>
                    <mat-tab label="Errors" class="border-indigo-100">
                        <mat-card id='cover-card' class='bg-indigo-200'>
                            <div class="grid grid-cols-12 gap-1">
                                <div class="col-start-1 col-end-3">Request Code</div>
                                <div class="col-start-4 col-end-5"> Status</div>
                                <div class="col-start-6 col-end-7">Amount</div>
                                <div class="col-start-8 col-end-9"> Account No.#</div>
                                <div class="col-start-10 col-end-11"> Credit Status</div>
                                <div class="col-start-12">Debit Status</div>
                            </div>
                        </mat-card>

                        <mat-card id='cover-card' *ngFor='let request of errorPageSlice' class="my-2">
                            <div class="grid grid-cols-12 gap-1 ">
                                <div class="col-start-1 col-end-3">

                                    <div class="flex flex-row ...">

                                        <div class="approvedCircle"> </div> {{request.requestCode}}

                                    </div>

                                </div>
                                <div class="col-start-4 col-end-5">
                                    <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': request.status === 'Error',
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': request.status === 'ChargeSuccess',
                                                'bg-blue-400 text-blue-800 dark:bg-blue-400 dark:text-blue-50':request.status === 'NotCharged' }">
                                        <span class="leading-relaxed whitespace-nowrap">{{request.status}}</span>
                                    </span>
                                </div>
                                <div class="col-start-6 col-end-7"> {{request.amount}}</div>
                                <div class="col-start-8 col-end-9"> {{ request.accountNumber}}</div>
                                <div class="col-start-10 col-end-11">
                                    <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': request.creditStatus === 'Error',
                                            'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': request.creditStatus === 'Success',
                                            'bg-blue-400 text-blue-800 dark:bg-blue-400 dark:text-blue-50':request.creditStatus === 'NotCharged'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{request.creditStatus}}</span>
                                    </span>

                                </div>
                                <div class="col-start-12">
                                    <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': request.debitStatus === 'Error',
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': request.debitStatus === 'Success',
                                                'bg-blue-400 text-blue-800 dark:bg-blue-400 dark:text-blue-50':request.debitStatus === 'NotCharged'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{request.debitStatus}}</span>
                                    </span>

                                </div>
                            </div>

                        </mat-card>


                        <mat-card class="loading-data my-2" id='cover-card' *ngIf="errorsFundRequests == undefined">
                            Loading data... 
                        </mat-card>
                        <mat-card class="loading-data my-2" id='cover-card'
                            *ngIf="errorsFundRequests != undefined && errorsFundRequests.length == 0">
                            No error fund requests...
                        </mat-card>
                        <mat-paginator *ngIf="errorsFundRequests.length > 0" [length]="errorsFundRequests.length" [pageSize]="5"
                            [pageSizeOptions]="[5,10,25,100]" (page)="OnPageChange($event)">
                        </mat-paginator>

                    </mat-tab>

                </mat-tab-group>

            </ng-container>


            <ng-template #Files>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                    Fundrequests!
                </div>
            </ng-template>

        </div>

    </div>

</div>